@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,700;1,300&display=swap');

body {
  font-family: 'Roboto Condensed', sans-serif;
  color: #0a0a0a;
}

/* --------------Navbar-------------------- */

.distill-site-header{ 
  padding: 1px 0px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
}